<?xml version='1.0' encoding="utf-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sales>
            <threshold_validation>
                <active>1</active>
                <threshold_value>10</threshold_value>
            </threshold_validation>
        </sales>
    </default>
</config>
